.body {
  background-color: rgb(1, 2, 34) !important;
}

.navbar-toggle {
  border: solid 1px black;
}

#topjlogo {
  width: 100%;
  max-width: 600px;
}
@font-face {
  font-family: "Korinna BT";
  src: url("fonts/Korinna Bold BT.eot");
  src: url("fonts/Korinna Bold BTeot?#iefix") format("embedded-opentype"),
    url("fonts/Korinna Bold BT.woff") format("woff"), url("fonts/Korinna Bold BT.ttf") format("truetype"),
    url("fonts/Korinna Bold BT.svg#Korinna BT") format("svg");
}
.question {
  justify-self: center;
  width: 100%;
}
.panel-heading {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}
.gridbtn {
  width: 100%;
  height: 90px;
  background-color: darkblue;
  border-radius: 20px;
  box-shadow: 0 0 1px #fff, 0 0 5px #fff, 0 0 10px #0ba9ca, 0 0 15px #0ba9ca, 0 0 20px #0ba9ca, 0 0 25px #0ba9ca;
  font-family: "Teko", sans-serif;
  font-size: 24px;
  color: #ffecb3;
}
.gridstyling {
  display: grid;
  grid-template-rows: [ten] 1fr [fifty] 1fr [onehundred] 1fr [fivehundred] 1fr [onethousand] 1fr;
  grid-auto-flow: column;
  grid-gap: 10px;
}
.qcategory-title,
.question,
.scoretally {
  font-family: Korinna BT;
}
.container-fluid {
  max-width: 900px;
}
.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: "Erica One", cursive;
  font-size: 36px;
  background: linear-gradient(to bottom, #cfc09f 22%, #634f2c 24%, #cfc09f 26%, #cfc09f 27%, #ffecb3 40%, #3a2c0f 78%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: #fff;
}

#topjlogo {
  font-size: 56px;
}

#score1 {
  color: green;
  font-size: 30px;
}
.navbar-header {
  max-width: 900px;
}
.button {
  height: 100%;
  width: 100%;
}
.btn-outline-secondary {
  display: flex;
  flex-direction: row;
}
.top {
  height: 120px;
  width: 100%;
  background-color: red;
}
.playeropt {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100vw;
  align-content: center;
}
/*.question {*/
/*height:100px;*/
/*vertical-align: middle;*/
/*text-align: center;*/
/*font-size: 1.5em;*/
/*padding-top: 15px;*/
/*cursor: pointer;*/
/*}*/
.gametitle {
  display: flex;
  align-items: center;
}
#headline {
  font-size: 30px;
}
.panel-footer {
  display: flex;
  justify-content: space-between;
}
h4 {
  font-size: 35px;
}

p {
  font-size: 20px;
}

h5 {
  font-family: "Teko", sans-serif;
  font-size: 30px;
  color: #ffecb3;
}

.modal-content {
  border-radius: 20px;
  background-color: darkblue;
  margin-top: 300px;
  padding: 20px;
}

.modal-title {
  font-family: "Teko", sans-serif;
  font-size: 30px;
  color: #ffecb3;
  margin-top: 30px;
}

.modal-body {
  font-family: "Teko", sans-serif;
  font-size: 24px;
  color: #ffecb3;
}

.modal-header {
  border-bottom: none;
}

.modal-footer {
  border-top: none;
}
